@use 'base/variables' as v;
@use 'base/mixins' as m;
@use "sass:color";

.formulario {
    width: 100%;
    margin-top: v.$separacion;
}

.campo {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    label {
        flex: 0 0 10rem;
    }

    input {
        flex: 1;
        padding: calc(v.$separacion / 4);
        border: none;
        border-radius: 1rem;

        &:disabled {
            background-color: color.adjust(v.$negro, $lightness: 20%);
            color: v.$blanco;
            cursor: not-allowed;
        }
    }
}